.to
{
    width: 100%;
    background-color: $color;
    overflow: hidden;
}

.wapper
{
    max-width: 1440px;
    font-family: $font;
 
    margin: 0 auto;
    
}
.container
{
    max-width: 1280px;
    margin: 0 auto;
  

}

